<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments :: styles"/>
</head>
<body>
<h1>Customer <span  th:text="${newCustomer.id}"></span></h1>
<!--<h1>Customer <span  th:text="${customerId}"></span></h1>-->
<div th:replace="fragments :: navigator"></div>
<form th:action="@{/customer/add}" th:method="post" th:object="${newCustomer}">
    <input type="hidden" th:field="*{id}">
    Name: <input th:field="*{name}">
    <br/>
    Surname: <input th:field="*{surname}">
    <br/>
    Cars quantity: <input type="number" step="1" min="1" th:field="*{cars_qty}">
    <br/>
    Tips: <input type="checkbox" th:field="*{tips}">
    <br/>
    Rate: <input type="number" step="1" min="0" th:field="*{rate}">
    <br/>
    <input type="submit">
</form>





</body>
</html>