<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments :: styles"/>
</head>
<body>
<h1>Customer List</h1>
<div th:replace="fragments :: navigator"></div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Cars quantity</th>
        <th scope="col">Tips</th>
        <th scope="col">Rate</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${listOfCustomers}">
        <td scope="row" th:text="${customer.id}"></td>
        <td  th:text="${customer.name}"></td>
        <td  th:text="${customer.surname}"></td>
        <td  th:text="${customer.cars_qty}"></td>
        <td  th:text="${customer.tips}"></td>
        <td  th:text="${customer.rate}"></td>
        <td >
            <a th:href="@{/customer/edit(cust_id=${customer.id})}">Edit</a>
        </td>
        <td >
            <a th:href="@{/customer/delete(cust_id=${customer.id})}">Delete</a>
        </td>
        <td >
            <a th:href="@{/customer/details(cust_id=${customer.id})}">Detail</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>